.footer {
  padding-block: 5rem 3rem;
  background-image: url(../img/main-bg.jpg);
}

.footer .container {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 0.5rem;
}

.footer__social {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}

.footer__link {
  width: 100%;
  display: block;
  padding: 1rem;
  color: #b1a9a9;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
